<h4>Add a Todo</h4>
<div class="my-3">
<form (ngSubmit)="onSubmit()">
<div class="mb-3">
    <label for="title" class="form-label">Add todo Title</label>
    <input type="text" [(ngModel)]="title" name ="title" class="form-control" id="title" placeholder="name@example.com" required ngModel>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Add description</label>
    <textarea type="text" [(ngModel)]="description"  name ="description" class="form-control" id="description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>